<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="/css/Home.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="juzhong">
				<img src="/img/1.png">
				<ul class="dao">
					<li><a href="http://localhost:3000/Home" methods="GET">Home</a></li>
					<li><a href="http://localhost:3000/Design" methods="GET">Design</a></li>
					<li><a href="http://localhost:3000/About" methods="GET">About</a></li>
					<li><a href="http://localhost:3000/Recruit" methods="GET">Recruit</a></li>
				</ul>
			</div>
		</header>
		<div class="tuyi">
			<img src="/img/1.png" class="shangtu">
		</div>
		<div class="tuer">
			<img src="/img/2.png" class="xiatu">	
		</div>
	</body>
</html>
